<!-- Header with Background Image -->
<header class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <img src="/images/andrew_headshot.jpg" class="rounded-circle mx-auto img-fluid" alt=""
                        style="max-height:350px; width:auto">
                </div>
                <h1 class="display-3 text-white text-center">I'm Andrew.</h1>
                <p class="lh-lg text-white text-center">
                    I am Andrew Pagán, an experienced embedded-software developer with a passion for writing highly optimized code for memory-constrained systems. I am deeply fascinated by the challenges of developing software for resource-limited devices, and I find great satisfaction in crafting efficient, elegant solutions that make the most of the available hardware.
                    My background in software engineering is extensive, with years of experience designing and implementing complex embedded systems across a variety of industries. From the ESP32 to the RFSoC, I have worked with a wide range of hardware platforms, programming languages, and development tools.
                    Above all, I am committed to the craft of software engineering and take great pride in delivering robust, reliable code that meets the highest standards of quality and performance. Whether it's debugging a complex system, optimizing code for maximum efficiency, or designing new features from scratch, I approach every project with enthusiasm, rigor, and a deep sense of satisfaction in creating elegant, functional solutions.
                    I am currently employed at BlueHalo where I develop software for embedded systems. Below are listed some of my skills. If you would like my full resume please visit the <a href="/contact">contact page</a> and send me a message!
                </p>
            </div>
        </div>
    </div>
</header>
<div class="container my-5 text-white">
    <section id="about_me">
        <section id="skills">
            <div class="container">
                <h3>Skills</h3>
                <ul>
                    <li>Proficiency in programming languages such as C/C++, Python, and x86_64 assembly</li>
                    <li>Experience with hardware platforms such as STM32, ESP32, JetsonTX2, RFSoC, and Ettus software-defined radios</li>
                    <li>Expertise in developing firmware for wireless-communication protocols such as Wi-Fi, Bluetooth, Zigbee</li>
                    <li>Ability to develop low-level device drivers and interface with peripheral devices such as sensors, ADCs, and DACs</li>
                    <li>Familiarity with embedded-development tools such as JTAG debuggers, oscilloscopes, and logic analyzers</li>
                    <li>Strong problem-solving skills and ability to debug complex issues in software and hardware</li>
                    <li>Knowledge of version control systems such as Git and SVN</li>
                    <li>Ability to write clean, efficient, and optimized code for embedded systems</li>
                </ul>
            </div>
        </section>
    </section>
</div>
