<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-1 pb-0">
        <!-- Section: Social media -->
        <section class="mb-1">
            <!-- LinkedIn -->
            <i class="fa fa-linkedin fa-2x btn-floating m-1"></i>

            <!-- Twitter -->
            <i class="fa fa-twitter fa-2x btn-floating m-1"></i>

            <!-- Facebook -->
            <i class="fa fa-facebook fa-2x btn-floating m-1"></i>
        </section>
        <section class="mb-2">
            <!-- Copyright -->
            <section class="mb-2">
                <div class="col-lg-12">
                    Copyright © Shuttle LLC 2024
                </div>
            </section>
            <!-- Copyright -->
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
</footer>