<div class="container intro-text">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 text-center pt-5">
            <h1 class="site-heading"><strong class="d-block">Hello and welcome to Shuttle!</strong></h1>
            <strong class="d-block text-uppercase letter-spacing">We have all your online shopping/gambling needs.</strong>
        </div>
    </div>
</div>