<div class="container my-5">
    <h1 class="text-center text-white text-decoration-underline">New-article form</h1>
    <p class="text-center text-white">
        Fill out the information below and submit to upload your article. Please note that all fields
        marked with an asterisk (*) are required.</p>
</div>


<div class="container-sm">
    <form class="needs-validation" method="dialog" id="new-article-form" enctype="multipart/form-data" novalidate>
        <div class="row mb-3">
            <div class="col">
                <label for="article-title" class="form-label text-white">Article title*</label>
                <input type="text" class="form-control" name="article-title" id="article-title" placeholder="Your title"
                    required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="article-description" class="form-label text-white">Article description*</label>
                <textarea class="form-control" id="article-description" name="article-description" rows="5"
                    placeholder="Put your description here..." required></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="article-image" class="form-label text-white">Article image*</label>
                <input class="form-control" type="file" id="article-image" name="article-image">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="article-html" class="form-label text-white">Article HTML*</label>
                <input class="form-control" type="file" id="article-html" name="article-html">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="text-center">
                    <button class="btn" onclick="submit_article_form(event)" type="button"
                        style="color: white; background-color: #52616B;">Submit</button>
                    <button class="btn" style="color: white; background-color: #52616B;">Preview</button>
                    <button class="btn" style="color: white; background-color: #52616B;">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>