<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto text-white text-center">
      <h1 class="mb-4">Currently logged in as</h1>
      <p class="lead"> <%- user %> </p>
      <button class="btn btn-lg px-5" onclick="submit_logout_delete(event)" type="submit"
        style="color: white; background-color: #52616B;">Log out</button>
    </div>
  </div>
</div>