<section class="vh-100 gradient-custom">
    <form class="needs-validation" method="dialog" id="signup-form" novalidate>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-5">Please enter your username and password.</p>

                <div class="form-outline form-white mb-4">
                  <input type="username" name="username" id="username" placeholder="Username" class="form-control form-control-lg" required>
                  <!-- <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Doe" required> -->
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" id="password" placeholder="Password" class="form-control form-control-lg" required>
                </div>


                <div class="form-outline form-white mb-4">
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control form-control-lg" required>
                  </div>

                <!-- <button class="btn btn-outline-light btn-lg px-5" formmethod="post" type="submit">Login</button> -->
                <button class="btn btn-lg px-5" onclick="submit_signup_form(event)" type="submit" id="signup-submit-button"
                  style="color: white; background-color: #52616B;">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </section>