<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto text-white text-center">
        <h1 class="mb-4">This feature isn't available yet.</h1>
        <img src="/images/gus.png" alt="placeholder image" class="img-fluid mb-3">
        <a href="/" class="btn btn-lg px-5" style="color: white; background-color: #52616B;">Go back to home page</a>
      </div>
    </div>
  </div>